.paletconfig{

  background-color: #ff8533;
  top: 4rem;
  .paletimage{

    background-color: #0c60ee;
    border-radius: 50%;
    border: none;
    margin: auto;
    height: 10em;
    width: 10em;
  }
}